<?xml version="1.0" encoding="UTF-8"?>
<plugins>
    <plugin>
        <id>30081548684</id>
        <jar>/home/zgh/project/ServiceProtocolModule/PluginDemo/servicesoftware-auto-upload-demo-1.0.0.jar</jar>
        <class>team.hnuwt.servicesoftware.autoupload.service.PluginServiceImpl</class>
    </plugin>
</plugins>