<?xml version="1.0" encoding="UTF-8"?>
<plugins>
    <plugin>
        <id>30081548684</id>
        <jar>D:/CylWorkFile/WorkSpace/IDEA/ServiceSoftwareSyncOpt/PluginDemo/AutoUploadDemo/target/servicesoftware-auto-upload-demo-1.0.0.jar</jar>
        <class>team.hnuwt.servicesoftware.prtcplugin.service.PluginServiceImpl</class>
    </plugin>
</plugins>